
---
const title = "Welcome to the Pokedox!";
---
<html>
  <head>
    <title>{title}</title>
    <style>
      body {
        font-family: sans-serif;
        text-align: center;
        padding: 45px;
        background: hsla(322, 81%, 86%, 0.567);
      }
      a {
        display: inline-block;
        padding: 10px 20px;
        background: rgba(38, 38, 40, 0.319);
        color: #2d2d2d;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <h1>{title}</h1>
    <a href="/pokedex">Enter Pokedox</a>
  </body>
</html>